<% layout('layouts/boilerplate') %>
<h1 class="h1 text-center">New Campground</h1>
<form
  class="col-6 offset-3 needs-validation"
  method="POST"
  action="/campgrounds"
  novalidate
  enctype="multipart/form-data"
>
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input
      type="text"
      class="form-control"
      id="title"
      name="campground[title]"
      placeholder="Enter title"
      required
    />
    <div class="valid-feedback">Looks good!</div>
    <div class="invalid-feedback">Please provide a title</div>
  </div>

  <div class="mb-3">
    <label for="location" class="form-label">Location</label>
    <input
      type="text"
      class="form-control"
      id="location"
      name="campground[location]"
      placeholder="Enter City, State"
      required
    />
    <div class="valid-feedback">Looks good!</div>
    <div class="invalid-feedback">Please provide a valid location</div>
  </div>

  <div class="mb-3">
    <label for="price" class="form-label">Campground price</label>
    <div class="input-group mb-3">
      <span class="input-group-text">$</span>
      <input
        type="number"
        class="form-control"
        id="price"
        name="campground[price]"
        placeholder="0.00"
        step="0.01"
        required
      />

      <div class="valid-feedback">Looks good!</div>
      <div class="invalid-feedback">Please provide a valid price</div>
    </div>
  </div>

  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <textarea
      class="form-control"
      id="description"
      name="campground[description]"
      rows="3"
      placeholder="Enter a brief description about your campground"
      required
    ></textarea>
    <div class="valid-feedback">Looks good!</div>
    <div class="invalid-feedback">Please provide a description</div>
  </div>

  <div class="mb-3">
    <label for="image" class="form-label">Images</label>
    <input class="form-control" type="file" id="image" name="image" multiple required>
    <div class="valid-feedback">Looks good!</div>
    <div class="invalid-feedback">Please Add at least one image</div>
  </div>
  

  <div class="d-flex justify-content-center">
    <button type="submit" class="btn btn-success">Add Campground</button>
  </div>
</form>
<div class="my-3 d-flex justify-content-center">
  <a class="text-muted text-decoration-none" href="/campgrounds"
    >Back to Campgrounds</a
  >
</div>
